@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background-color: #f3f5f9;
}

.wrapper {
  display: flex;
  position: relative;
}

.wrapper .sidebar {
  width: 200px;
  height: 100%;
  background: #4b4276;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li {
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.wrapper .sidebar ul li a {
  color: #bdb8d7;
  display: block;
}

.wrapper .sidebar ul li a .fas {
  width: 25px;
}

.wrapper .sidebar ul li:hover {
  background-color: #594f8d;
}

.wrapper .sidebar ul li:hover a {
  color: #fff;
}

.wrapper .sidebar .social_media {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.wrapper .main_content {
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header {
  padding: 20px;
  background: #fff;
  color: black;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info {
  margin: 20px;
  color: black;
  line-height: 25px;
}

.wrapper .main_content .info div {
  margin-bottom: 20px;
}
.header {
  display: flex;
  justify-content: space-between; /* This distributes the space between the two items */
  align-items: center; /* This vertically centers the items */
  background-color: #f3f7fa; /* Adjust background color as needed */
  padding: 10px 20px; /* Adjust padding as needed */
  border-bottom: 1px solid #ccc; /* Optional: adds a bottom border */
  font-size: 16px; /* Adjust font size as needed */
}

.title {
  font-weight: bold; /* Optional: makes the title bold */
}

.username {
  margin-left: auto;
  margin-right: 5px; /* Pushes the username to the far right */
}

.profile-picture {
  margin-right: 3px;
}

.profile-picture img {
  width: 30px; /* Adjusted for a smaller circle */
  height: 30px; /* Adjusted for a smaller circle */
  border-radius: 50%;
  border: 1px solid #ccc;
}
